<div class="m-4">
  <h1 class="text-center" >Impressum</h1>
  <hr class="w-75 p-3 text-center" style="margin: auto;">
  <div class="container text-center">
    <h3>Developers</h3>
    <div class="row justify-content-center align-items-start">
      <div  class="col-4 border bs-primary-rgb p-3">
        <h4>Isabel Schnalzenberger</h4>
        <p>Frontend & Unity</p>
      </div>
      <div  class="col-4 border bs-primary-border-subtle p-3">
        <h4>Arwed Schnalzenberger</h4>
        <p>Backend & Cloud</p>
      </div>
    </div>
  </div>
  <div class="container text-center d-flex justify-content-center mt-3">
    <div class="col-7 border bs-primary-border-subtle pt-2">
      <h4>Adresse</h4>
      <p>Limesstraße 12/14</p>
      <p>4060 Leonding</p>
      <p>Austria</p>
    </div>
  </div>
  <div class="container text-center d-flex justify-content-center mt-3">
    <div class="col-7 border bs-primary-border-subtle pt-2">
      <h4>Kontakt</h4>
      <p>Telefon: (0732) 67 33 68 – 0</p>
      <p>E-mail: office&#64;htl-leonding.ac.at</p>
    </div>
  </div>
  <div class="container text-center d-flex justify-content-center mt-3">
    <div class="col-7 border bs-primary-border-subtle pt-1 p-1">
      <h4>Nutzungsbedingungen</h4>
      <br>
      <h6><strong>1 Grundsätzliche Vorschriften und Vereinbarungen</strong></h6>
      <p><strong>1.1</strong> Die Nutzung von memoryland.schnalzenberger.org ist ein kostenloser Service, der es seinen Benutzern ermöglicht, Bilder im Internet zur Verfügung zu stellen.</p>
      <p><strong>1.2</strong> Es dürfen keine Bilder hochgeladen werden, die gegen geltendes österreichisches oder europäisches Recht verstoßen sowie kinderpornografische, gewaltverherrlichende oder urheberrechtlich geschützte Inhalte haben. Der Benutzer trägt bei Verstößen die alleinige Verantwortung.</p>
      <p><strong>1.3</strong> Ebenfalls dürfen durch das Bild die Privatsphäre sowie die Ehre, Rechte und Würde anderer nicht verletzt werden.</p>
      <br>
      <h6><strong>2 Inhalte</strong></h6>
      <p><strong>2.1</strong> memoryland.schnalzenberger.org ist nicht haftbar für in irgendeiner Weise von anderen Menschen hier veröffentlichte Inhalte.</p>
      <p><strong>2.2</strong> Die Informationen auf memoryland.schnalzenberger.org stellen in keinem Fall rechtliche Zusicherungen dar.</p>
      <br>
      <h6><strong>3 Technische Verfügbarkeit</strong></h6>
      <p><strong>3.1</strong> Wir übernehmen durch die Nichterreichbarkeit unseres Services entstandene Schäden keine Haftung.</p>
      <br>
      <h6><strong>4 Spam, Flooding und Leeching</strong></h6>
      <p><strong>4.1</strong> Es ist strikt verboten, unser Serversystem mit Anfragen zu bombardieren und Scripte, Botnetze sowie Programme zu nutzen, die die Verfügbarkeit und Leistungsfähigkeit des Dienstes beeinflussen.</p>
      <br>
      <h6><strong>5 Verwendung von Nutzerdaten</strong></h6>
      <p><strong>5.1</strong> Die Mitarbeiter von memoryland.schnalzenberger.org haben Zugriff auf die gesamte Bilddatenbank um die hochgeladenen Inhalte bei Bedarf zu überprüfen, da wir nach den allgemeinen Grundsätzen $7 des TMG verpflichtet sind, anstößiges Bildmaterial nach Kenntnisnahme zu entfernen oder zu sperren.</p>
      <p><strong>5.2</strong> Wir sind als Diensteanbieter nach den allgemeinen Grundsätzen $7 des TMG jedoch nicht verpflichtet, Bildmaterialien vor der Veröffentlichung zu prüfen und daher auch nicht verantwortlich für die veröffentlichten Inhalte.</p>
    </div>
  </div>
</div>
