<div class="d-flex">
  <div class="h-100 sidebar bg-body-tertiary">
    <div class="p-3">
      <h4>Meine Erinnerungen</h4>
      <button
        class="btn btn-light w-100 text-start"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#create-memoryland-modal">
        Memoryland Erstellen ...
      </button>
    </div>
  </div>

  <div class="body d-flex">
    <div class="w-100 p-3">
      <app-memoryland-list></app-memoryland-list>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="create-memoryland-modal"
  tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Memoryland erstellen</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close">
        </button>
      </div>

      <form>
        <div class="modal-body">
          <!-- type selection -->
          <div class="mb-3">
            <label class="form-label">Typ auswählen</label>
            <select #albumSelect
                    class="form-select"
                    (change)="setType(albumSelect.value)"
                    name="selectedAlbum"
                    required
                    [selectedIndex]="(selectedType | async)">
              @for (t of (memorylandTypes | async); track t.id) {
                <option [value]="t.id">{{ t.name }}</option>
              }
            </select>
          </div>

          <!-- memoryland-name input -->
          <div class="mb-3">
            <label class="form-label">Namen angeben</label>
            <input #memorylandNameInput
                   type="text"
                   class="form-control"
                   [value]="store.value.createMemorylandName"
                   (keyup)="setMemorylandName(memorylandNameInput.value)"
                   name="filename">
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal">
            Cancel
          </button>

          <button
            type="button"
            [disabled]="createMemorylandNotValid()"
            (click)="createMemoryland()"
            class="btn btn-success"
            data-bs-dismiss="modal">
            Memoryland erstellen
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
