<div class="fs-4 fw-bold pb-3">
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
       class="bi bi-file-earmark-image" viewBox="0 0 16 16">
    <path d="M6.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
    <path
      d="M14 14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zM4 1a1 1 0 0 0-1 1v10l2.224-2.224a.5.5 0 0 1 .61-.075L8 11l2.157-3.02a.5.5 0 0 1 .76-.063L13 10V4.5h-2A1.5 1.5 0 0 1 9.5 3V1z"/>
  </svg>
  Fotos
</div>

@if ((images | async) === undefined) {
  <div class="fs-5 text-center text-muted">
    Keine Album ausgewählt
  </div>
} @else {
  @if ((images | async)?.length === 0) {
    <div class="fs-5 text-center text-muted">
      Keine Fotos vorhanden
    </div>
  }

  <div class="memory-store-height overflow-scroll">
    <table class="table table-striped">
      <tbody>
        @for (i of (images | async); track i.id) {
          <tr>
            <td class="col">
              <div class="overflow-name">
                {{i.name}}
              </div>
            </td>
            <td class="text-end text-danger col">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-trash"
                viewBox="0 0 16 16"
                type="button"
                (click)="deleteImage()">
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
              </svg>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

}
