<div class="d-flex justify-content-between">
  <div class="fs-4 fw-bold pb-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
         class="bi bi-file-earmark-image" viewBox="0 0 16 16">
      <path d="M6.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
      <path
        d="M14 14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zM4 1a1 1 0 0 0-1 1v10l2.224-2.224a.5.5 0 0 1 .61-.075L8 11l2.157-3.02a.5.5 0 0 1 .76-.063L13 10V4.5h-2A1.5 1.5 0 0 1 9.5 3V1z"/>
    </svg>
    Fotos
  </div>
  <div>
    <form class="d-flex" role="search">
      <input
        #searchImgInput
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        [value]="store.value.searchImgList"
        (keyup)="setImgSearch(searchImgInput.value)">
    </form>
  </div>
</div>

@if ((images | async) === undefined) {
  <div class="fs-5 text-center text-muted">
    Keine Album ausgewählt
  </div>
} @else {
  @if ((images | async)?.length === 0) {
    <div class="fs-5 text-center text-muted">
      Keine Fotos vorhanden
    </div>
  }

  <div class="memory-store-height overflow-scroll">
    <table class="table table-striped">
      <tbody>
        @for (i of (images | async); track i.id) {
          <tr hover-class="table-secondary">
            <td
              class="col"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#photo-viewer-modal"
              (click)="selectImage(i)">
              @if (i.image !== undefined) {
                <img
                  [src]="i.image"
                  [alt]="i.name">
              }
            </td>
            <td
              class="col"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#photo-viewer-modal"
              (click)="selectImage(i)">
              <div class="overflow-name">
                {{i.name}}
              </div>
            </td>
            <td class="col text-center align-middle">
              <div class="d-flex justify-content-center">
                <div class="text-secondary pe-1">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="25"
                    fill="currentColor"
                    class="bi bi-pen"
                    viewBox="0 0 16 16"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#rename-photo-modal"
                    (click)="setRenamePhoto(i)">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                  </svg>
                </div>
                <div class="text-danger">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="25"
                    fill="currentColor"
                    class="bi bi-trash"
                    viewBox="0 0 16 16"
                    type="button"
                    (click)="deleteImage(i)">
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                  </svg>
                </div>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <div
    class="modal fade"
    id="photo-viewer-modal"
    tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">
            @if ((selectedPhoto | async) === undefined) {
              Lädt...
            } @else {
              {{(selectedPhoto | async)!.name}}
            }
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close">
          </button>
        </div>

        <div class="modal-body d-flex justify-content-center">
          @if ((selectedPhoto | async) === undefined) {
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          } @else {
            <a [href]="(selectedPhoto | async)!.photo" target="_blank">
              <img
                class="img-fluid photo-size"
                src="{{(selectedPhoto | async)!.photo}}"
                alt="{{(selectedPhoto | async)!.name}}">
            </a>
          }
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="rename-photo-modal"
    tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Bitte gib den neuen Namen des Fotos ein.</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close">
          </button>
        </div>

        <div class="modal-body">
          <div class="input-group">
          <span
            class="input-group-text">
            Foto-Name
          </span>
            <input #photoName
                   type="text"
                   class="form-control"
                   [value]="store.value.renamePhoto.name"
                   (keyup)="setPhotoName(photoName.value)">
          </div>
        </div>

        <div class="modal-footer">
          <button
            class="btn btn-secondary"
            data-bs-dismiss="modal">
            Cancel
          </button>

          <button
            (click)="renamePhoto()"
            class="btn btn-success"
            [disabled]="renamePhotoNotValid()"
            data-bs-dismiss="modal">
            Foto umbenennen
          </button>
        </div>
      </div>
    </div>
  </div>
}
