.memoryland-height {
  height: 70vh;
  overflow-y: auto;
}

.table thead {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

.table thead th {
  background-color: white;
  border-top: 0;
}

.memoryland-search-width {
  width: 25vw;
}
