<div class="d-flex">
  <div class="h-100 sidebar bg-body-tertiary">
    <div class="p-3">
      <h4>Meine Foto-Alben</h4>
      <button
        class="btn btn-light w-100 text-start"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#create-album-modal">
        Album Erstellen ...
      </button>
      <button
        class="btn btn-light w-100 text-start"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#upload-photo-modal">
        Foto hochladen ...
      </button>
      <button
        class="btn btn-light w-100 text-start"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#upload-photoAlbum-modal"
        [disabled]="(canUploadAlbum | async)">
        Album hochladen ...
      </button>
    </div>
  </div>

  <div class="body d-flex">
    <div class="folder-column p-3">
      <app-folder-list></app-folder-list>
    </div>
    <div class="image-column p-3">
      <app-image-list></app-image-list>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="create-album-modal"
  tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Bitte gib den Namen des Albums ein.</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <div class="input-group">
          <span
            class="input-group-text">
            Album-Name
          </span>
          <input #resetText
            type="text"
            class="form-control"
            [value]="store.value.createAlbumName"
            (keyup)="setAlbumName(resetText.value)">
        </div>
      </div>

      <div class="modal-footer">
        <button
          class="btn btn-secondary"
          data-bs-dismiss="modal">
          Cancel
        </button>

        <button
          (click)="memoryStoreSvc.createAlbum()"
          class="btn btn-success"
          [disabled]="memoryStoreSvc.albumNameNotValid()"
          data-bs-dismiss="modal">
          Album erstellen
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="upload-photo-modal"
  tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Foto hochladen</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close">
        </button>
      </div>

      <form>
        <div class="modal-body">
          <!-- album selection -->
          <div class="mb-3">
            <label class="form-label">Album auswählen</label>
            <select #albumSelect
              class="form-select"
              (change)="setAlbum(albumSelect.value)"
              name="selectedAlbum"
              required
              [selectedIndex]="(uploadPhotoPhotoAlbumIndex | async)">
              @for (pa of (photoAlbums | async); track pa.id) {
                <option [value]="pa.id">{{ pa.name }}</option>
              }
            </select>
          </div>

          <!-- file selection -->
          <div class="mb-3">
            <label class="form-label">Foto auswählen</label>
            <input
              type="file"
              class="form-control"
              (change)="onFileSelected($event)"
              accept="image/*">
          </div>

          <!-- filename input -->
          <div class="mb-3">
            <label class="form-label">Filename angeben</label>
            <input #fileNameText
                   type="text"
                   class="form-control"
                   [value]="store.value.uploadPhotoModel.fileName"
                   (keyup)="setFileName(fileNameText.value)"
                   name="filename">
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal">
            Cancel
          </button>

          <button
            type="button"
            [disabled]="memoryStoreSvc.uploadPhotoNotValid(undefined)"
            (click)="memoryStoreSvc.uploadPhoto()"
            class="btn btn-success"
            data-bs-dismiss="modal">
            Foto hochladen
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="upload-photoAlbum-modal"
  tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <app-upload-album></app-upload-album>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="ask-for-delete-transaction-modal"
  tabindex="-1"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Es ist bereits ein Resumable Upload offen!</h1>
      </div>

      <div class="modal-body">
        Falls du fortfährst, wird der aktuelle Upload abgebrochen.
      </div>

      <div class="modal-footer">
        <button
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          data-bs-toggle="modal"
          data-bs-target="#upload-photoAlbum-modal">
          Cancel
        </button>

        <button
          (click)="setUseTransaction()"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          data-bs-toggle="modal"
          data-bs-target="#upload-photoAlbum-modal">
          Fortfahren
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="album-upload-progress-bar-modal"
  tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Fortschritt...</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        @if (store.value.totalPhotos !== 0) {
          <div class="progress">
            <div class="progress-bar"
                 role="progressbar"
                 [style.width.%]="(store.value.finishedPhotos/ store.value.totalPhotos) * 100"
                 aria-valuemin="0"
                 aria-valuemax="100">
              {{ store.value.finishedPhotos/store.value.totalPhotos * 100 }}%
            </div>
          </div>
          <div class="mt-1">
            {{ store.value.finishedPhotos }} / {{ store.value.totalPhotos }} Fotos
          </div>
        } @else {
          <div class="progress">
            <div class="progress-bar"
                 role="progressbar"
                 style="width: 100%"
                 aria-valuenow="100"
                 aria-valuemin="0"
                 aria-valuemax="100">
              100%
            </div>
          </div>
          <div class="mt-1">
            Alle Fotos hochgeladen
          </div>
        }
      </div>

      <div class="modal-footer">
        <button
          class="btn btn-info"
          data-bs-dismiss="modal">
          Exit
        </button>
      </div>
    </div>
  </div>
</div>
