@if (selectedMemoryland === undefined) {
  <div class="fs-5 text-center text-muted">
    Keine Memoryland ausgewählt
  </div>
} @else {
  <div class="container">
    <!-- Select Album -->
    <label for="albumSelect">Wähle ein Fotoalbum aus:</label>
    <select
      id="albumSelect"
      class="form-select"
      [(ngModel)]="selectedPhotoAlbumId"
      (change)="loadPhotos()">
      @for (album of store.value.photoAlbums; track album.id) {
        <option [value]="album.id">{{ album.name }}</option>
      }
    </select>

    <!-- Display Photos from Album -->
    <div class="row text-center d-flex justify-content-center align-items-center">
      @for (photo of selectedPhotos; track photo.id) {
        <div
          class="col-4 p-1 mt-3 border d-flex justify-content-center align-items-center img-box word-break"
          draggable="true"
          (dragstart)="onDragStart($event, photo)">
          {{ photo.name }}
        </div>
      }
    </div>

    <!-- Photo Album Grid -->
    <div class="row mt-3 overflow-scroll drag-and-drop-height">
      <h5>Ordne die Fotos den Positionen zu (mittels Drag-and-Drop):</h5>
      @for (slot of generateArray(selectedMemoryland!.memorylandType.photoAmount); track slot) {
        <div class="col-4 border text-center img-box word-break p-1"
             (dragover)="onDragOver($event)"
             (drop)="onDrop($event, slot)">
          @if (getConfigForPos(slot) === undefined) {
            <div class="placeholder text-center d-flex justify-content-center align-items-center">
              Pos {{slot}}
            </div>
          } @else {
            <p
              class="text-center d-flex justify-content-center align-items-center h-100"
              draggable="true"
              (dragstart)="onDragStartConf($event, getConfigForPos(slot))">
              {{getConfigForPos(slot)!.photo.name}}
            </p>
          }
        </div>
      }
    </div>
  </div>
}
