<div class="modal-header">
  <h1 class="modal-title fs-5">Album hochladen</h1>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="unsetUseTransaction()">
  </button>
</div>

<form>
  <div class="modal-body">
    <!-- album selection -->
    <div class="mb-3">
      <label class="form-label">Ziel-Album auswählen</label>
      <select #albumSelect
              class="form-select"
              (change)="setAlbum(albumSelect.value)"
              name="selectedAlbum"
              required
              [selectedIndex]="(uploadPhotoPhotoAlbumIndex | async)"
              [disabled]="(isTransaction | async)">
        @for (pa of (photoAlbums | async); track pa.id) {
          <option [value]="pa.id">{{ pa.name }}</option>
        }
      </select>
    </div>

    <!-- folder selection -->
    <div class="mb-4">
      <label class="form-label">
        Album auswählen
      </label>
      <input
        type="file"
        id="imageFolder"
        name="images"
        webkitdirectory
        multiple
        class="form-control"
        (change)="onFolderSelected($event)"/>
    </div>

    <!-- folder selection images output-->
    <div class="mb-4">
      <label class="">
        Anzahl ausgewählter Bilder: {{ store.value.uploadAlbumModel.files.length }}
      </label>
    </div>

    <!-- use transaction input -->
    <div class="mb-2">
      @if (!(useTransaction | async) && store.value.transaction !== undefined && !(isTransaction | async)) {
        <div
          class="form-check"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#ask-for-delete-transaction-modal"
          data-bs-dismiss="modal">
          <input
            class="form-check-input unclickable"
            type="checkbox"
            [checked]="(useTransaction | async)"
            id="flexCheckDefault">
          <label class="form-check-label unclickable" for="flexCheckDefault">
            'Resume Upload' ermöglichen
          </label>
        </div>
      } @else {
        <div class="form-check">
          <input
            #checkBoxInput
            class="form-check-input"
            type="checkbox"
            [checked]="(useTransaction | async)"
            (change)="setUseTransaction(checkBoxInput.checked)"
            id="flexCheckDefault2"
            [disabled]="(isTransaction | async)">
          <label class="form-check-label" for="flexCheckDefault2">
            'Resume-Upload' ermöglichen
          </label>
        </div>
      }
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-bs-dismiss="modal"
      (click)="unsetUseTransaction()">
      Cancel
    </button>

    <button
      type="button"
      [disabled]="uploadAlbumNotValid()"
      (click)="uploadFolderSvc.startUploadAlbum()"
      class="btn btn-success"
      data-bs-toggle="modal"
      data-bs-target="#album-upload-progress-bar-modal"
      data-bs-dismiss="modal">
      Fotos hochladen
    </button>
  </div>
</form>
