<br>
<br>
<div class="m-3">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <img src="Logo.webp"  height="200vm" width="auto">
    <h1 class="fw-bold" style="font-size: xxx-large;">Memoryland</h1>
  </div>
  <br>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <div class="w-75 text-center">
      <h3 class="fw-bold">Willkommen auf unserer Website Memoryland!</h3>
      <p>Wir haben diese Plattform entwickelt, um es vor allem Familien und anderen Nutzern zu erleichtern, schöne Erinnerungen zu bewahren und immer griffbereit zu haben. Auf unserer Website können Sie einen Link kopieren, der Ihre Fotos nicht nur für Sie selbst immer wieder zugänglich macht, sondern es auch ermöglicht mit anderen Nutzern unserer Website Ihre Erinnerungen zu teilen.</p>
      <p>Genießen Sie die Möglichkeit, Ihre Erinnerungen auf eine völlig neue Art zu erleben!</p>
      <p>Weiteres:  <a routerLink="/impressum">Impressum & Nutzungsbedinungen</a></p>
    </div>
  </div>
</div>
